{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Sultan Nusantara</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/MyPicture.png' %}" alt="" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#education">Education</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#skills">Skills</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Course
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/course/">List</a>
                  <a class="dropdown-item" href="/course/tambah/">Add</a>
                </div>
              </li>        
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#interests">Interests</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#awards">Awards</a></li>
        </ul>
    </div>
</nav>