{% extends 'base.html' %}
{% load static %}


{% block page-content %}
<h1 class="text-center">Detail Course {{detail.nama}}</h1>
<br><br>
<table class="table table-responsive table-borderless">
    <tbody>
      <tr>
        <td>Nama:</td>
        <td>{{detail.nama}}</td>
      </tr>
      <tr>
        <td>Dosen:</td>
        <td>{{detail.dosen}}</td>
      </tr>
      <tr>
        <td>Sks:</td>
        <td>{{detail.sks}}</td>
      </tr>
      <tr>
        <td>Tahun:</td>
        <td>{{detail.tahun}}</td>
      </tr>
      <tr>
        <td>Ruang:</td>
        <td>{{detail.ruang}}</td>
      </tr>
      <tr>
        <td>Deskripsi:</td>
        <td>{{detail.deskripsi}}</td>
      </tr>
    </tbody>
  </table>
{% endblock page-content %}
    