{% extends 'base.html' %}
{% load static %}


{% block page-content %}
    <h1 class="text-center">Ini adalah List Mata Kuliah</h1>

    

    <div class="col-md-8 offset-md-2">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Pilihan</th>
              </tr>
            </thead>
            <tbody>
              
            {% for co in course %}  
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{co.nama}}</td>
                <td>
                    <a class="btn btn-info" href="{% url 'course:detail' pk=co.pk %}">Detail</a>
                    <a class="btn btn-danger" href="{% url 'course:hapus' pk=co.pk %}">Hapus</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock page-content %}
    