{% extends 'base.html' %}
{% load static %}


{% block page-content %}
    <h1 class="text-center">Menambah Course</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-12 text-center">
            <input class="btn btn-success" type="submit" value="Tambah">
        </div>
    </form>

{% endblock page-content %}
    