{% extends 'base.html' %}
{% load static %}

{% block page-content %}

<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
      <div class="resume-section-content">
          <h1 class="mb-0">
              Sultan
              <span class="text-primary">Nusantara</span>
          </h1>
          <div class="subheading mb-5">
              3542 Kenanga Raya · Bekasi, CO 80810 · (317) 585-8468 ·
              <a href="mailto:name@email.com">nusantarasulltan@email.com</a>
          </div>
          <p class="lead mb-5">Saya senang sekali mencoba hal-hal baru dan mempelajari berbagai ilmu terutama di bidang IT dan Bisnis. Saat ini saya sedang mempelajari PPW atau Perancangan dan Pengembangan Website. Semoga saya bisa mengerjakannya dengan baik.</p>
          <div class="social-icons">
              <a class="social-icon" href="https://www.linkedin.com/in/sultan-daffa-nusantara-b1a7821a5"><i class="fab fa-linkedin-in"></i></a>
              <a class="social-icon" href="https://github.com/SultanDaffaN"><i class="fab fa-github"></i></a>
              <a class="social-icon" href="https://twitter.com/Sulltannusanta1?s=09"><i class="fab fa-twitter"></i></a>
              <a class="social-icon" href="https://www.facebook.com/nusantarasulltan.nusantarasulltan"><i class="fab fa-facebook-f"></i></a>
          </div>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Experience-->
  <section class="resume-section" id="experience">
      <div class="resume-section-content">
          <h2 class="mb-5">Experience</h2>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Senior Web Developer</h3>
                  <div class="subheading mb-3">Intelitec Solutions</div>
                  <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">March 2025 - Present</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Web Developer</h3>
                  <div class="subheading mb-3">Intelitec Solutions</div>
                  <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">December 2022 - March 2025</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Junior Web Designer</h3>
                  <div class="subheading mb-3">Shout! Media Productions</div>
                  <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">July 2021 - December 2023</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Web Design Intern</h3>
                  <div class="subheading mb-3">Shout! Media Productions</div>
                  <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">September 2020 - June 2021</span></div>
          </div>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Education-->
  <section class="resume-section" id="education">
      <div class="resume-section-content">
          <h2 class="mb-5">Education</h2>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">University of Indonesia</h3>
                  <div class="subheading mb-3">Bachelor of Computer Science</div>
                  <div>Information System - Web Development Track</div>
                  <p>GPA: 3.23</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">August 2019 - May 2022</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Albinaa Islamic School</h3>
                  <div class="subheading mb-3">Senior High School</div>
                  <p>GPA: 3.56</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">August 2016 - May 2019</span></div>
          </div>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Skills-->
  <section class="resume-section" id="skills">
      <div class="resume-section-content">
          <h2 class="mb-5">Skills</h2>
          <div class="subheading mb-3">Programming Languages & Tools</div>
          <ul class="list-inline dev-icons">
              <li class="list-inline-item"><i class="fab fa-html5"></i></li>
              <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
              <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
              <li class="list-inline-item"><i class="fab fa-angular"></i></li>
              <li class="list-inline-item"><i class="fab fa-react"></i></li>
              <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
              <li class="list-inline-item"><i class="fab fa-sass"></i></li>
              <li class="list-inline-item"><i class="fab fa-less"></i></li>
              <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
              <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
              <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
              <li class="list-inline-item"><i class="fab fa-npm"></i></li>
          </ul>
          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
              <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>
                  Mobile-First, Responsive Design
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>
                  Cross Browser Testing & Debugging
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>
                  Cross Functional Teams
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>
                  Agile Development & Scrum
              </li>
          </ul>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Interests-->
  <section class="resume-section" id="interests">
      <div class="resume-section-content">
          <h2 class="mb-5">Interests</h2>
          <p>Selain mencoba senang dalam menjalani perkuliahan ini, saya tertarik dengan berbagai bidang lain, yaitu bisnis, psikologi, dan filsafat. Adapun olahraga, saya sangat menyukai beladiri dan tennis meja. Saya juga bercita-cita membangun usaha sendiri.</p>
          <p class="mb-0">Ketika di rumah, saya sangat menyukai sekali menonton film bergenre misteri, sci-fi, action, dan thriller. Saya juga sangat menyukai membaca waktu jika ada waktu. Buku yang saya sukai berkaitan dengan bisnis, psikologi, dan Pengembangan diri.</p>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Awards-->
  <section class="resume-section" id="awards">
      <div class="resume-section-content">
          <h2 class="mb-5">Awards & Certifications</h2>
          <ul class="fa-ul mb-0">
              <li>
                  <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                  Google Analytics Certified Developer
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                  Mobile Web Specialist - Google Certification
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                  1
                  <sup>st</sup>
                  Place - University of Colorado Boulder - Emerging Tech Competition 2009
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                  1
                  <sup>st</sup>
                  Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                  2
                  <sup>nd</sup>
                  Place - University of Colorado Boulder - Emerging Tech Competition 2008
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                  1
                  <sup>st</sup>
                  Place - James Buchanan High School - Hackathon 2006
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                  3
                  <sup>rd</sup>
                  Place - James Buchanan High School - Hackathon 2005
              </li>
          </ul>
      </div>
  </section>
</div>
  
{% endblock page-content %}
  
